<section>
    <!-- <span class="container-1">
        <img class="icon" src="../../../assets/instagram.svg" alt="instagram">
        <h3>wtf_restobar</h3>
    </span> -->
    <a href="https://www.instagram.com/wtf_restobar" target="_blank" rel="noopener noreferrer">
        <span class="container-1">
          <img class="icon" src="../../../assets/instagram.svg" alt="instagram">
          <h3>wtf_restobar</h3>
        </span>
    </a>
    <a href="tel:+37369040222">
        <span class="container-2">
          <h3>+373 69 040 222</h3>
          <img class="icon" src="../../../assets/phone.svg" alt="phone">
        </span>
    </a>
    <a href="https://maps.google.com/maps?q=Chisinau,%20Nicolae%20Milescu%20Spataru%2016" target="_blank" rel="noopener noreferrer">
        <span class="container-1">
          <img class="icon" src="../../../assets/location.svg" alt="location">
          <h3>Chisinau, Nicolae Milescu Spataru 16</h3>
        </span>
    </a>
</section>