<header>
    <div class="header">
        <span class="button-container">
            <button
            [routerLink]="['/menu']"
            >
            {{html.back[menuService.language]}}
            </button>
        </span>
        <span class="logo-container">
            <img class="logo" src="../../assets/logo.svg" alt="WTF-Logo">
        </span>
    </div>
    <div class="decorator">
        <span class="yellow-line"></span>
        <span class="white-line"></span>
    </div>
</header>
<section>
    <div class="image-container">
        <img class="position-image"  src="../../assets/img/Espresso.png" alt="">
    </div>
    <div class="decorator">
        <span class="yellow-line"></span>
        <span class="white-line"></span>
    </div>
    <span class="info-title-container">
        <h3 class="title">Цезарь с курицей</h3>
        <h3 class="cost">
            <h3 class="active">120</h3>
            &nbsp;
            <h3>Лей</h3>
        </h3>
    </span>
    <span class="about">
        Куринное филе, салат Лола, помидоры cherry, сыр пармизан, соус цезарь
    </span>
    <h3 class="active weigth" >
        100 гр.
    </h3>
</section>