<header>
    <div class="header">
        <span class="button-container">
            <button
            [routerLink]="['/menu']"
            >
            {{html.back[menuService.language]}}
            </button>
        </span>
        <span class="logo-container">
            <img class="logo" src="../../assets/logo.svg" alt="WTF-Logo">
        </span>
    </div>
    <div class="decorator">
        <span class="yellow-line"></span>
        <span class="white-line"></span>
    </div>
</header>
<section *ngIf="position && !loading">
    <ng-container *ngIf="position.image" >
        <div  class="image-container">
            <img class="position-image"  [src]="position.image" [alt]="position.name[menuService.language]">
        </div>
        <div class="decorator">
            <span class="yellow-line"></span>
            <span class="white-line"></span>
        </div>
    </ng-container>
    <span class="info-title-container">
        <h3 class="title">{{position.name[menuService.language]}}</h3>
        <h3 class="cost" *ngIf="position.cost">
            <h3 class="active">{{position.cost}}</h3>
            &nbsp;
            <h3>{{html.cost[menuService.language]}}</h3>
        </h3>
    </span>
    <span class="about" *ngIf="position.description && position.description[menuService.language]">
        {{position.description[menuService.language]}}
    </span>
    <h3 class="active weigth" *ngIf="position.weight && position.weight[menuService.language]">
        {{position.weight[menuService.language]}}
    </h3>
</section>
<div *ngIf="loading" class="loading-menu">
    <mat-spinner></mat-spinner>
</div>