header {
    position: fixed;
    top: var(--header_heigth);
    left: 0;
    background-color: var(--color_main);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: calc(100% - 5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.category {
    user-select: none;
    cursor: pointer;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.category:hover {
    color: var(--color_select);
}

.sub-categories-container {
    width: 55%;
    height: calc(100% - 5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sub-categories {
    color: white;
    background-color: transparent;
    width: 90%;
    height: 70%;
    border: 1px solid var(--color_select);
    border-radius: 0%;
}

b {
    font-weight: 100;
}

.icon {
    width: 30px;
}


.decorator {
    width: 100%;
    height: var(--decorator_heigth);
    display: flex;
    justify-content: space-between;
}

.white-line {
    width: 55%;
    height: 100%;
    background-color: #1f1f1f;;
}

.yellow-line {
    width: 40%;
    height: 100%;
    background-color: var(--color_select);
}


mat-form-field {
    flex-direction: unset;
    width: 100%;
    height: 93%;
    display: inline;
    text-align: left;
}

.mdc-text-field {
    background-color: transparent;
}

.loading-menu {
    padding-top: 70px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h3 {
    margin-top: 0;
}

section {
    margin: auto;
    padding-top: 70px;
    padding-bottom: 15px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.position {
    width: 25%;
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position-image {
    border-radius: 2%;
    margin-bottom: 8px;
    width: 100%;
}

.position-title {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.position-info {
    padding: 3px 0px;
    /* border-top: 1px solid var(--color_select); */
    border-bottom: 1px solid var(--color_select);
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-container {
    width: 50%;
}

.cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 700px) {

    .icon {
        width: 25px;
    }

    .category-name {
        font-size: 12px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 16px;
    }

    mat-form-field,
    .option {
        font-size: 14px;
    }

    section {
        width: 95%;
    }

    .position {
        margin: 15px 0px;
        width: 47%;
    }

    .position-title {
        font-size: 12px;
    }

    b {
        font-size: 12px;
    }

}