<header>
    <div class="header" *ngIf="menuService.sub_categories && !menuService.sub_categories_loading">
        <div class="categories-container">
            <span 
            (click)="setCategory('64738c84699f77307907676d')"
            class="category">
                <img class="icon" src="../../../assets/food.svg" alt="Food">
                <b 
                [ngClass]="selectedCategory('64738c84699f77307907676d')"
                >{{html.kitchen[menuService.language]}}</b>
            </span>
            <!-- <b>/</b> -->
            <span 
            class="category"
            (click)="setCategory('64738c0f699f773079076767')">
                <img class="icon" src="../../../assets/bar.svg" alt="Bar">
                <b 
                [ngClass]="selectedCategory('64738c0f699f773079076767')"
                >{{html.bar[menuService.language]}}</b>
            </span>
        </div>
        <div class="sub-categories-container">
            <mat-form-field>
                <mat-select [(ngModel)]="menuService.sub_category" (ngModelChange)="setSubCategory()">
                    <ng-container *ngFor="let sub_category of menuService.sub_categories">
                        <mat-option *ngIf="sub_category.category == menuService.category" class="option"  [value]="sub_category._id">
                            {{sub_category.name[menuService.language]}}
                          </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="decorator">
        <span class="yellow-line"></span>
        <span class="white-line"></span>
    </div>
</header>
<section *ngIf="menuService.positions && !menuService.positions_loading">

    <ng-container *ngFor="let position of menuService.positions | positionFilter: menuService.sub_category">
        <div class="position pointer" 
        [routerLink]="['/position']"
        [queryParams]="{_id: position._id}"
        >
            <ng-container *ngIf="position.img && position.img.url">
                <img class="position-image" [src]="position.img.url" [alt]="position.name[menuService.language]">
            </ng-container>
            <h3 class="position-title"
            >
                {{position.name[menuService.language]}}
            </h3>
            <span *ngIf="position.cost || position.weight" class="position-info">
                <span class="info-container">
                    <b *ngIf="position.weight[menuService.language]"> {{position.weight[menuService.language]}} </b>
                </span>
                <span class="info-container cost">
                    <b *ngIf="position.cost" > {{position.cost}} MDL </b>
                </span>
            </span>
        </div>
    </ng-container>

    <h3 *ngIf="menuService.positions && ( menuService.positions | positionFilter: menuService.sub_category).length == 0 && !menuService.positions_loading ">Не найденны позиции!</h3>
</section>
<h1 *ngIf="!menuService.positions && !menuService.positions_loading">
    Ошибка поиска позиций!
</h1>
<div *ngIf="menuService.sub_categories_loading || menuService.positions_loading" class="loading-menu">
    <mat-spinner></mat-spinner>
</div>